@import 'variables'

.board,
.field
  border: 0 solid $field-border-color

.board
  position: relative
  +flex(center, center, column)
  border-top-width: 1px
  border-right-width: 1px

  &:first-child
    margin-right: 10rem

  &.blocked
    pointer-events: none

.row
  +flex(center, center)

.ship-holder
  position: absolute
  top: -10rem
  +flex(space-between, center)
  +size(33rem, 5rem)
  pointer-events: none

.ship-holder__ship
  +flex(flex-start, center)

  .field:not(:last-child)
    border-right-width: 0