@import 'variables'

.label,
.field
  +flex(center, center)
  +size($field-size, $field-size)
  position: relative
  border: $common-border

  &::before
    content: ''

.label
  border-color: transparent

.field--empty
  background-color: $field-empty-color

  &:hover
    background-color: $field-empty-hover-color

.field--miss
  background-color: $field-miss-color

  &:hover
    background-color: $field-miss-hover-color
  &::before
    +size(1rem, 1rem)
    border-radius: 50%
    border: 1px solid $field-marker-color

.field--ship
  background-color: $field-ship-color

  &:hover
    background-color: $field-ship-hover-color

  &::before
    +size(1.2rem, 1.2rem)
    border-radius: 50%
    background-color: $field-marker-color

.field--hit
  background-color: $field-hit-color

  &:hover
    background-color: $field-hit-hover-color

  &::before
    position: absolute
    transform: rotate(45deg)
    content: '+'
    color: $field-marker-color
    font-size: 3.6rem

.field--sunk
  background-color: $field-sunk-color

  &:hover
    background-color: $field-sunk-hover-color

  &::before
    position: absolute
    content: '\2020'
    font-size: 2.8rem

.row > .field
  border-top-width: 0
  border-right-width: 0
