$field-empty-color: #f1f9ff
$field-empty-hover-color: #daebf7

$field-miss-color: #eee
$field-miss-hover-color: #daebf7
$field-hit-color: #ffe2e2
$field-hit-hover-color: #ffe2e2
$field-ship-color: #f1ffe2
$field-ship-hover-color: #f1ffe2
$field-sunk-color: #ffefe2
$field-sunk-hover-color: #ffefe2

$field-marker-color: #666

$field-border-color: #aaa
$field-size: 5vh


$alert-color: #fafafa

$common-border: 1px solid $field-border-color
